@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease-in-out .3s;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
}